.profile {
  display: flex;
  margin-top: 65px;
}

.profile-info {
  margin-left: 60px;
}

.profile-info__head {
  padding-bottom: 30px;
}

.profile-info__head-link {
  display: flex;
  align-items: center;
  color: var(--sky-blue);
}

.profile-info__head-link span {
  margin-left: 5px;
}

.profile-info__fio {
  margin-bottom: 5px;
}

.profile-info__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 5px;
  align-items: center;
  padding-top: 50px;
  border-top: 1px solid var(--light-grey);
}