.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 35px;
  color: var(--light-text);
  background-color: var(--light-grey);
  border-radius: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card:hover {
  background-color: var(--light-yellow);
  color: var(--pleasant-grey);
}

.card:hover .card-title {
  color: var(--dark-grey);
}

.card-title {
  color: var(--pleasant-grey);
}

.card-curator {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.card-curator span {
  margin: 0 10px 0 20px;
}

.card-description {
  margin-bottom: 20px;
}

.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  padding: 25px;
  transform: translate(-50%, -50%);
  color: var(--pleasant-grey);
  background-color: var(--white);
  border-radius: 4px;
}

.card-modal__modal-title {
  margin-bottom: 12px;
  color: var(--dark-grey);
  text-align: center;
}

.card-modal__title {
  text-align: center;
}

.card-modal__curator {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.card-modal__curator-info {
  margin-left: 14px;
}

.card-modal__curator-info div {
  color: var(--light-text);
}

.card-modal__works {
  overflow: auto;
  max-height: 500px;
}

.card-modal__work {
  padding-bottom: 16px;
  margin-bottom: 16px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 0 0 rgba(0, 0, 0, 0.4);
}

.card-modal__work-title {
  text-align: center;
  margin-bottom: 12px;
}

.card-modal__table {
  margin-bottom: 12px;
}

.card-modal__table div {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin-bottom: 8px;
}

.card-modal__table div p:nth-child(odd) {
  font-weight: bold;
}

.card-modal__button {
  margin-top: 12px;
  text-align: center;
}