@font-face {
  font-family: 'Nunito';
  src: url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
}

@font-face {
  font-family: 'Commissioner';
  src: url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');
}

.h1 {
  font-family: Commissioner, sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 61px;
}

.h2 {
  font-family: Nunito, sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
}

.h3 {
  font-family: Commissioner, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
}

.h4 {
  font-family: Commissioner, sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}

.h5 {
  font-family: Commissioner, sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
}

.p1 {
  font-family: Nunito, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
}

.p2 {
  font-family: Nunito, sans-serif;
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
}

.p2--light {
  font-family: Nunito, sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
}

.p3 {
  font-family: Nunito, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.p3--line-height {
  font-family: Nunito, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.p4 {
  font-family: Nunito, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.p5 {
  font-family: Nunito, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}